[Desktop Entry]
AAuthor=Michael D
AuthorEmail=nortexoid@gmail.com
Description=Default KMail header with borders
FileName=header.html
Name=Borders Dark
ThemeVersion=0.1
