[Desktop Entry]
Author=Michael D
AuthorEmail=nortexoid@gmail.com
Description=Default KMail header in card format
FileName=header.html
Name=Borders Flat
ThemeVersion=0.1
